{% extends 'mainlayout.html' %}
{% block title %} Viewblogs | Home {% endblock title %}

{% block body %}

<div class="container" style="margin-top: 10px;">
  <div class="row">
    
    {% for blog in blogs %}
    <div class="col-md-4">
      <div className="my-2">
        <div class="card" style="margin-top: 5px;">
          <img src="/media/{{blog.blog_img}}" class="card-img-top" alt="..." style="max-height: 215px; object-fit: cover;" />
          <div class="card-body">
            <h5 class="card-title">{{blog.title}} ({{blog.category}})</h5>
            <p class="card-text">
            {% if blog.description|length > 25 %}
              {{blog.description|slice:":25" }}...
            {% else %}
              {{blog.description}}
            {% endif %}
            </p>

            <a href="/readmore?={{blog.title}}" class="btn btn-sm btn-primary">Read more</a>
            (By {{blog.user.username}})
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock body %}